*{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 16px;
}

html, body{
    height: 100%;
    /*overflow: hidden;*/
    @import url('https://fonts.googleapis.com/css?family=Lato|Nunito+Sans');
    font-family: 'Nunito Sans', sans-serif;
}

.navBar{
    /*font-family: "Avenir Next";*/
    font-weight: bold;
    display: block;
    /*padding: 4px 20px 4px 20px;*/
    /*margin-bottom: 5%;*/
    position: fixed;
    width: 10%;
    min-width: 75px;
    height: 100%;
    background-color: darkgrey;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .75), 0 20px 30px 0 rgba(0, 0, 0, 0.35);*/
    z-index: 10;
}

.navBar nav{
    width: 95%;
    height: 100%;
    margin: auto;
    padding-top: 20%;
}

.navBar nav .navSpan{
    position: absolute;
    margin: 15%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 60%;
    cursor: pointer;
}

.navBar nav #home{
    top: 0;
}
.navBar nav #dev{
    top: 40%;
}
.navBar nav #des{
    top: 40%;
}
.navBar nav #fun{
    top: 55%;
}
.navBar nav #about{
    bottom: 0;
}

.navBar nav img{
    height: 75px;
    width: 75px;
}

.navBar nav a{
    color: black;
    text-decoration: none;
}
.navBar nav a:hover{
    -webkit-filter: opacity(35%);filter: opacity(35%);
}
.navBar nav a:active{
    -webkit-filter: opacity(85%);filter: opacity(85%);
}


.navBar nav .navSoc{
    width: 75%;
    justify-content: space-between;
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 25%;
}

.content{
    display: flex;
    margin-left: 10%;
    width: 90%;
    height: 100%;
    /*background-color: skyblue;*/
    z-index: 2;
}

.content #homeSec{
    /*background-color: darkseagreen;*/
    min-height: 95%;
    min-width: 100%;
    margin: auto;
    text-align: center;
}
.content #homeSec .homeCont{
    margin: 2.5% 0 0 0;
}
.content #homeSec .homeCont hr{
    margin: 0 auto;
    width: 90%;
    -webkit-filter: opacity(50%);filter: opacity(50%);
}
.content #homeSec .homeCont h1{
    font-family: Adobe Garamond Pro;
    font-size: 300%;
    line-height: 30px;
}
.content #homeSec .homeCont .header h3{
    /*font-family: "Avenir Next";*/
    font-size: 100%;
    /*line-height: 30px;*/
}
.content #homeSec .homeCont .col{
    margin: 125px 0 0 0;
    display: flex;
}
.content #homeSec .homeCont .col .first{
    margin: auto;
    width: 33%;
}
.content #homeSec .homeCont .col .second{
    margin: auto;
    width: 33%;
}
.content #homeSec .homeCont .col .third{
    margin: auto;
    width: 33%;
}

.content #homeSec .homeCont .col h3{
    margin: 5% 0 0 0;
}
.content #homeSec .homeCont .col img{
    width: 275px;
    border-radius: 15px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .75), 0 20px 30px 0 rgba(0, 0, 0, 0.35);*/
}


.content #devSec{
    /*background-color: greenyellow;*/
    min-height: 95%;
    min-width: 100%;
    margin: auto;
    text-align: center;
}
.content #devSec .devCont{
    margin: 2.5% 0 0 0;
}
.content #devSec .devCont h1{
    font-family: Adobe Garamond Pro;
    font-size: 300%;
    line-height: 30px;
}
.content #devSec .devCont .header h3{
    /*font-family: "Avenir Next";*/
    font-size: 100%;
    /*line-height: 30px;*/
}
.content #devSec .devCont .col{
    margin: 30px 0 0 0;
    display: flex;
}
.content #devSec .devCont a{
    display: inline-block;
}
.content #devSec .devCont a:hover{
    -webkit-filter: opacity(50%);filter: opacity(50%);
}
.content #devSec .devCont .col .first{
    margin: auto;
    width: 33%;
}
.content #devSec .devCont .col .second{
    margin: auto;
    width: 33%;
}
.content #devSec .devCont .col .third{
    margin: auto;
    width: 33%;
}
.content #devSec .devCont .col2{
    margin: 45px 0 0 0;
    display: flex;
}
.content #devSec .devCont .col2 .devLeft{
    margin: auto;
    width: 50%;
}
.content #devSec .devCont .col2 .devRight{
    margin: auto;
    width: 50%;
}


.content #devSec .devCont .col h3{
    margin: 5% 0 0 0;
}
.content #devSec .devCont .col img{
    width: 200px;
}
.content #devSec .devCont .col2 h3{
    margin: 5% 0 0 0;
}
.content #devSec .devCont .col2 img{
    width: 200px;
}
.content #devSec .devCont .col2 #iP img{
    height: 150px;
    width: 75px;
}


.content #aboutSec{
    /*background-color: indianred;*/
    min-height: 95%;
    min-width: 100%;
    margin: auto;
    text-align: center;
}
.content #aboutSec .aboutCont{
    margin: 2.5% 0 0 0;
}
.content #aboutSec .aboutCont h1{
    font-family: Adobe Garamond Pro;
    font-size: 300%;
    line-height: 30px;
}
.content #aboutSec .aboutCont h3{
    /*font-family: "Avenir Next";*/
    font-size: 100%;
    /*line-height: 30px;*/
}
.content #aboutSec .aboutCont .header p{
    /*font-family: "Avenir Next";*/
}
.content #aboutSec .aboutCont .col{
    margin: 45px auto;
    display: flex;
}
.content #aboutSec .aboutCont .col .abtLeft{
    margin: auto;
    width: 37.5%;
    display: block;
}
.content #aboutSec .aboutCont .col .abtRight{
    margin: auto;
    width: 45%;
}
.content #aboutSec .aboutCont .col .abtRight p a{
    color: #be8971;
    text-decoration: none;
}
.content #aboutSec .aboutCont .col .abtRight p a:hover{
    color: #ffc09f;
    text-decoration: none;
}
.content #aboutSec .aboutCont .col .abtRight p a:active{
    color: #735546;
    text-decoration: none;
}
.content #aboutSec .aboutCont .col .abtRight p{
    text-align: left;
}

.content #aboutSec .aboutCont .col .abtLeft a{
    color: black;
    text-decoration: none;
}

.content #aboutSec .aboutCont .col .abtLeft .abtButton{
    display: inline-block;
    border-radius: 10px;
    background-color: #ffc09f;
    margin: 30px auto;
    width: 150px;
    height: 35px;
    padding-top: 15px;
}

.content #aboutSec .aboutCont .col .abtLeft .abtButton a{
    color: black;
    text-decoration: none;
}
.content #aboutSec .aboutCont .col .abtLeft a:hover{
    -webkit-filter: opacity(50%);filter: opacity(50%);
}
.content #aboutSec .aboutCont .col img{
    width: 85%;
    border-radius: 15px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .75), 0 20px 30px 0 rgba(0, 0, 0, 0.35);*/
}


.footer footer{
    background-color: white;
    width: 85%;
    height: 65px;
    position: fixed;
    bottom: 0;
    left: 12.5%;
    z-index: 5;
}
.footer footer hr{
    margin: 1% auto;
    width: 100%;
    -webkit-filter: opacity(50%);filter: opacity(50%);
}
.footer footer .col{
    display: flex;
    height: 40px;
    /*float: left;*/
    width: 100%;
}
.footer footer .col .first{
    height: 40px;
    /*background-color: aquamarine;*/
    width: 33%;
}
.footer footer .col .first p{
    float: left;
}
.footer footer .col .third p{
    float: right;
}
.footer footer .col .second{
    height: 40px;
    width: 33%;
    text-align: center;
    /*background-color: cadetblue;*/
}
.footer footer .col .third{
    height: 40px;
    /*background-color: lightcoral;*/
    width: 33%;
}
.footer footer .col .second img{
    margin: 0 2% 0 2%;
    height: 30px;
}
.footer footer .col .third img{
    float: right;
    height: 30px;
    margin-left: 2%;
}
.footer footer .col .second a:hover{
    -webkit-filter: opacity(35%);filter: opacity(35%);
}
.footer footer .col .second a:active{
    -webkit-filter: opacity(85%);filter: opacity(85%);
}
.footer footer .col .third a{
    color: black;
    text-decoration: none;
}
.footer footer .col .third a:hover{
    color: #ffc09f;
    text-decoration: underline;
}











@media only screen and (max-width : 900px) {
    .content{
        margin-left: 80px;
    }
    .navBar{
        width: 80px;
    }
    .navBar nav .navSpan{
        font-size: 45%;
    }
    .navBar nav img{
        height: 45px;
        width: 45px;
    }
    .content #homeSec .homeCont h1{
        font-size: 200%;
        /*line-height: 40px;*/
    }
    .content #homeSec .homeCont .header h3{
        font-size: 75%;
        /*line-height: 30px;*/
    }
    .content #homeSec .homeCont footer p{
        font-size: 75%;
        /*line-height: 30px;*/
    }
    .content #devSec .devCont h1{
        font-size: 200%;
        line-height: 40px;
    }
    .content #desSec .desCont h1{
        font-size: 200%;
        line-height: 40px;
    }
    .content #funSec .funCont h1{
        font-size: 200%;
        line-height: 40px;
    }
    .content #aboutSec .aboutCont h1{
        font-size: 200%;
        line-height: 40px;
    }
    .content #homeSec footer .col .second img{
        margin: 0 2% 0 2%;
        /*float: right;*/
        width: 20px;
        /*right: 12.5%;*/
    }
    /*.content #homeSec .col{*/
        /*margin: 12.5% 0 0 0;*/
        /*display: block;*/
    /*}*/
    /*.content #homeSec .col img{*/
        /*width: 25%;*/
        /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .75), 0 20px 30px 0 rgba(0, 0, 0, 0.35);*/
    /*}*/
}
@media only screen and (min-width : 1375px) {
    .content{
        margin-left: 140px;
    }
    .navBar{
        width: 140px;
    }
    .content #homeSec .homeCont .col{
        margin: 7.5% 0 0 0;
        display: flex;
    }
    .content #homeSec .homeCont .col img {
        width: 300px;
        margin: auto;
    }
    .content #homeSec .homeCont .col .first {
        width: 300px;
        margin: auto;
    }
    .content #homeSec .homeCont .col .second {
        width: 300px;
        margin: auto;
    }
    .content #homeSec .homeCont .col .third {
        width: 300px;
        margin: auto;
    }
    .arrowLeft{
        margin: 22.5% 0 0 1%;
    }
    .arrowRight{
        margin: 22.5% 1% 0 0;
    }
    .content #homeSec .homeCont hr{
        width: 85%;
    }
}
/*@media only screen and (min-height : 900px) {*/
    /*.content{*/
        /*margin-left: 80px;*/
    /*}*/
    /*.navBar{*/
        /*width: 80px;*/
    /*}*/
    /*.navBar nav .navSpan{*/
        /*font-size: 45%;*/
    /*}*/
    /*.navBar nav img{*/
        /*height: 45px;*/
        /*width: 45px;*/
    /*}*/
/*}*/