.projects{
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    // grid-template-rows: repeat(2, minmax(250px, 1fr));
    grid-gap: 30px; 
    box-sizing: border-box;
    // background-color: paleturquoise;
    // position: relative;
    grid-auto-flow: row;
    place-items: center center;
    min-height: 100vh;
    padding: 15px $nav-height;
    margin: auto;

    .projectDisplay{
        height: min-content;
        text-align: center;
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 5fr 1fr 1fr 1fr;
        place-items: center center;
        padding: 5px 15px;
        // border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        color: #4b4b4b;
        white-space: nowrap;

        a{
            margin: auto;

            img{
                margin: auto;
                height:250px;
                object-fit:scale-down;
            }
        }

        &:hover {
            box-shadow: 3px 8px 10px 0 rgba(0, 0, 0, 0.2);
            position: relative; 
            top: -3px;
        }

    }
}